:root {
	--yellow: #3062b9;
	--orange: #543aff;
	--black: #3a2449;
	--gray: #1f578f;
	--blueCard: #ddf8fe;
	--purple: rgb(238 210 255);
	--boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
	--orangeCard: rgba(127, 157, 238, 0.848);
	--smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
	padding: 0.5rem 3.5rem;
	overflow: hidden;
	color: var(--black);
}

.button {
	background: linear-gradient(180deg, #3a1eed 26.71%, #572acb 99.36%);
	box-shadow: 0px 20px 24px 3px rgba(39, 18, 148, 0.42);
	border-radius: 34px;
	border: none;
	color: white;
	font-size: 16px;
	padding: 11px 26px 11px 26px;
}

.button:hover {
	background: white;
	cursor: pointer;
	border: 1px solid var(--orange);
	color: var(--orange);
}
@media screen and (max-width: 480px) {
	.App {
		padding: 0.5rem 1rem;
	}

	.i-right {
		margin-left: 30%;
	}

	.i-right > :nth-child(3) {
		top: -4.6rem;
		transform: scale(1);
		margin-left: 20%;
		opacity: 0.9;
	}

	.w-left {
		margin-top: 200px;
	}

	.portfolio {
		margin-top: 300px;
	}

	.contact-form {
		margin-bottom: 200px;
	}
}
